$menu-color: #303f9f;
$title-color: $menu-color;
$active-color: #3f51b5;
$white-color: #fff;
$content-bg-color: #f9f9f9;
// mat-form-field {
//   margin-right: 5px;
// }
// label {
//   display: flex;
//   margin-bottom: 10px;
//   font-weight: bold;
//   color: $menu-color;
// }

// input[type="text"],
// textarea {
//   width: 30%;
//   padding: 10px;
//   margin-bottom: 20px;
//   border: none;
//   border-radius: 4px;
//   background-color: $white-color;
//   color: $menu-color;
//   font-family: Arial, sans-serif;
//   font-size: 16px;
//   line-height: 1.5;
//   resize: vertical;
// }

// textarea {
//   height: 100px;
// }

// input[type="text"]:focus,
// textarea:focus {
//   outline: none;
//   box-shadow: 0 0 3px $active-color;
// }
